<aside id="sidebar">
  <div class="name"><%= theme.author %></div>
  <div class="divider divider-l"></div>
  <div class="description">A simple, notebook inspired, theme for Ghost. Includes four colour schemes to kick start your customisation.</div>

  <div class="divider divider-m"></div>

  <ul class="nav">
    <li class="nav-item"><a href="/">主页<a></li>
    <li class="nav-item"><a href="/about">关于</a></li>
    <li class="nav-item"><a href="/category">归档</a></li>
  </ul>

  <div class="divider divider-s"></div>

  <ul class="sn">
    <li class="sn-item"><a href="" class="social github"></a></li>
    <li class="sn-item"><a href="" class="social weibo"></a></li>
    <li class="sn-item"><a href="" class="social rss"></a></li>
  </ul>

  <div class="slogon">人生如逆旅，我亦是行人</div>
</aside>